[Unit]
Description=Unmanarc's Fast Authentication Daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/ufastauthd
ExecStart=/usr/bin/uFastAuthD --debugparams='false' --verbose='0' --help='false' --resetadmpw='false' --daemon='false' --config-dir='/etc/ufastauthd'
Environment=

[Install]
WantedBy=multi-user.target
