[Unit]
Description=Unmanarc's Fast Authentication Daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/ufastauthd
ExecStart=/usr/bin/uFastAuthD
Environment=

[Install]
WantedBy=multi-user.target
