[Unit]
Description=Unmanarc's Fast Authentication Daemon 3
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/
ExecStart=/usr/bin/uFastAuthD3
Environment=

[Install]
WantedBy=multi-user.target
